<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.CourseMapper">
	<resultMap type="com.example.entity.Course" id="courseMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<association property="courseDetail" javaType="com.example.entity.CourseDetail">
			<id column="CD_ID" property="id"/>
			<result column="DESCRIPTION" property="description"/>
		</association>
		<collection property="chapters" ofType="com.example.entity.Chapter">
			<id column="CH_ID" property="id"/>
			<result column="CH_NAME" property="name"/>
		</collection>
	</resultMap>

	<select id="findAll" resultMap="courseMap">
		SELECT
			*
		FROM
			COURSES
		<where>
			<if test="courseId != null">
				id = #{courseId}
			</if>
			<if test="courseName != null">
				OR name = #{courseName}
			</if>
		</where>

	</select>

	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO courses (id, name) VALUES (nextval('course_id_seq'), #{name})
	</insert>

	<select id="findById" resultMap="courseMap">
		SELECT
			C.ID,
			C.NAME,
			CD.ID AS CD_ID,
			CD.DESCRIPTION,
			CH.ID AS CH_ID,
			CH.NAME AS CH_NAME
		FROM
			COURSES AS C
		INNER JOIN
			COURSE_DETAILS AS CD
		ON
			C.ID = CD.COURSES_ID
		INNER JOIN
			CHAPTERS AS CH
		ON
			C.ID = CH.COURSES_ID
		WHERE
			C.ID = #{id}
	</select>

	<update id="update">
		UPDATE COURSES SET NAME = #{name} WHERE id = #{id}
	</update>

	<delete id="deleteById">
		DELETE FROM COURSES WHERE id = #{id}
	</delete>
</mapper>
